*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(3, 46, 90);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
}

button{
    padding: 10px;
    width: 150px;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    background-color: salmon;
    color: white;
    display: block;
}